
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #FFF;
  color: #373A3C; 

}

a,button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.opacity70-100{
  @apply
  opacity-70 hover:opacity-100
}