.typing::after{
  content:"";
  position: absolute;
  height: 5%;
  width: 1px;
  border-right: 4px solid white;
  animation: blink 0.7s infinite ease;
}

@keyframes blink{
  0%{
      opacity: 0;
  }
  100%{
      opacity:1;
  }
}