.navLinkHome{
    @apply
    font-bold text-my-blue 
    border-b-2 border-transparent
    lg:text-white lg:opacity-80
    hover:opacity-100 hover:border-white
}

.navLinkActiveHome {
    /* eslint-disable-next-line */
    @apply
    border-white opacity-100
}

.navLink{
    @apply
    font-bold text-white 
    border-b-2 border-transparent
    lg:text-my-blue lg:opacity-80
    hover:opacity-100 hover:border-my-blue
}
.sideLink{
    @apply
    font-bold text-my-blue 
    border-b-2 border-transparent
    hover:opacity-100 hover:border-my-blue
}

.navLinkActive {
    /* eslint-disable-next-line */
    @apply
    border-my-blue opacity-100
}



